<form action="<%users_url()%>" method="POST">
    <h3>Sign Up</h3>

    <label> Enter a Username:
      <input type="text" name="user[username]" value="<%@user.username%>">
    </label>

    <label> Enter a Username:
      <input type="password" name="user[username]" value="<%@user.password%>">
    </label>
</form>