/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* .signup--container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: aquamarine;
    display: flex;
   justify-content: space-between;
   align-items: center;
} */


* {padding: 0; margin: 0;}

.flex-c {
    display: flex;
    justify-content: center;

}

h2 {
    font-size: small;
}

.session--container  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
   
      width: 800px;
}


.logo {
    padding-bottom: 10px;
    color: black;
  /* margin: 0 0 0 4.45em; */
}

img, h1 {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
}

   

.logo, .session-nav {
        list-style: none;
        /* text-transform: uppercase; */
}

.logo a, .session-nav a {
        text-decoration: none;
        /* letter-spacing: .45rem; */
} 

.session-nav  {
  display: flex;
}

.session-nav a {
  display: block;
  padding: 1em;
  color: black;
}

/* .session-nav a:hover {
    background: #00ace6;
} */


/* ****** ****** */
 @media all and (max-width: 600px) {
 
  .logo {
     margin: .25em 0; 
    align-self: left; 
   }
  
  .session-nav {
    flex-direction: column;
  }
  
  .session-nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .session-nav li:last-of-type a {
    border-bottom: none;
  }
}  
/*--------------------------------------------------

/*-------------------------------------------------

/* new modal */
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}