// Place all the styles related to the statis_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// * {padding: 0; margin: 0;}
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
  
.blue-gradient {
  background: -webkit-linear-gradient(left, #6046FE, #1DA0C3);
  -webkit-background-clip: text;
  // background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  // background-color: white;
  
}

.fan-account-text {
  width: 250px;
  height: 60px;
  font-size: 12px;
  line-height: 16px;
  color: #818285;

}


.top-div {
  display:flex; justify-content:center;
  position: relative;
   //top: -22px; 
  width: 100%;
  box-shadow: 0px 1px #eee;
      height: 100px;

}

.flex-c {
    display: flex;
    justify-content: center;

}

h2 {
    font-size: small;
}

.session--container  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
   
      width: 800px;
      
}


.logo {
    padding-bottom: 10px;
    color: black;
  /* margin: 0 0 0 4.45em; */
}

.logo-container img  {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
}

   

.logo, .session-nav {
        list-style: none;
        /* text-transform: uppercase; */
}

.logo a, .session-nav a {
        text-decoration: none;
        /* letter-spacing: .45rem; */
} 

.session-nav  {
  display: flex;
}

.session-nav a {
  display: block;
  padding: 1em;
  color: black;
}

.nav-hd-div {
  
  /* position:absolute;  
  display:block;  
  top:0px;  */
 
}

/* .session-nav a:hover {
    background: #00ace6;
} */


/* ****** ****** */
 @media all and (max-width: 600px) {
  
  .logo {
     margin: .25em 0; 
    align-self: left; 
   }
  
   .top-div {
     flex-direction: column-reverse;
   }
  
  .session-nav {
    flex-direction: column;
  }
  
  .session-nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .session-nav li:last-of-type a {
    // border-bottom: none;
  }
}  
/*--------------------------------------------------

/*-------------------------------------------------

/* new modal */
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.flex-item {
    display:flex;
    align-items: center;
}

.flex-item img{
    
    
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-fan-button {
  width: 248px;
  height: 16px;
  border: 1px solid rgb(0,161,198);
  color: rgb(0,161,198);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 0 7px 0;
  margin-bottom: 12;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  margin-bottom: 12px;
}

.signup-artist-button {
  width: 248px;
  height: 16px;
  border: 1px solid #6E943B;
  color: #6E943B;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 0 7px 0;
  margin-bottom: 12;
  border-radius: 4px;
  display: block;
  cursor: pointer;
}

.signup-demo-button {
  width: 248px;
  height: 16px;
  border: 1px solid #333;
  color: #333;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 0 7px 0;
  margin-bottom: 12;
  border-radius: 4px;
  display: block;
  cursor: pointer;
}

.signup-fan-button:hover {
  text-decoration: underline;
}

.signup-artist-button:hover {
  text-decoration: underline;
}

.signup-demo-button:hover {
  text-decoration: underline;
}

.icon-1 {
    width: 172px;
    height: 126px;
    background: url('https://static.thenounproject.com/png/171141-200.png') no-repeat;
    background-size:contain; 
    border-radius: 50%;
}

.icon-2 {
  width: 172px;
  height: 126px;
  background: url('https://static.thenounproject.com/png/330019-200.png') no-repeat;
  background-size:contain;
  border-radius: 50%;
  
}

.icon-3 {
  width: 172px;
  height: 126px;
  background: url('https://thumbs.dreamstime.com/b/curious-glyph-style-vector-icon-which-can-easily-modify-edit-curious-glyph-style-vector-icon-which-can-easily-modify-edit-192547588.jpg') no-repeat;
  background-size:contain;
  border-radius: 50%;
  
}



.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #fff;
  width: 492px;
  height: 595px;
}

.modal-form-div {

    width: 480px;
    height: 460px;

}

.sign-up-modal {
  padding: 25px 20px 30px 20px;
  width: 460px;
  height: 486px;
}


.modal-form ul {
 margin-left: 14px;
}

.modal-form ul li{
  height: 126px;
  width: 423px;
  list-style: none;
  padding-bottom: 26px;
  margin-bottom: 24px;
}

.outer-sign-up-modal {
  display: flex;

   
   width: 500px;
   height: 587px;

}

.modal-header {
  background: #333;
  background-color: #f5f5f5;
  padding: 15px 20px 20px 12px;
  border-bottom: 1px solid #ededed;
  width: 460px;
  height: 18px;
  text-align: center;
}

.modal-form {
  width: 460px;
  height: 480px;
  display: flex;
  justify-content: center;
}

/*--------------------------------------
sesssion form */

.signup-form {
 color: #333;

}

.flex-login-header {
  color: #333;
    display: flex;
    justify-content: center;
}

.session-submit-button {
    width: 100%;
    height: 36px;
    cursor: pointer;
    text-align: center;
    background: rgb(0,161,198);
    
    color: #333;
}

.session-submit-button:hover {
  color: ghostwhite;
}


/*--------------------------------------
artist weekly */

.artist-weekly {
  background-color: #222;
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
 }

@media (max-width: 1000px) {
 .artist-weekly {
  background-color: white;
  width: 0;
 }


}

.artist-weekly-container {
  
  width: 1441px;
}

.artist-weekly-outer {
 
  width: 1441px;
  height: 540px;
  z-index: 3;
}


.artist-weekly-flex {
  
  width: 1441px;
  height: 540px;
  display: flex;
  justify-content: center;
  position: relative;
  
}

.artist-weekly-main {
  width: 1066px;
  padding-top: 540px;
  background: url('https://drive.google.com/uc?export=view&id=1_smFiOe0xOx3-KoBkWbjwvGg0FmZRPVn') 40px -100px no-repeat;
  background-size: cover; 
  position: relative;
}

// .artist-weekly-img-1 {
//   background: url('https://apicms.thestar.com.my/uploads/images/2020/01/27/527339.jpg') 100% no-repeat; 
//   background-size: cover; 
// }

// .artist-weekly-img-2 {
//   background: url('https://www.jame-world.com/media/image/2018-04/8457.jpg')  100% no-repeat; 
//   background-size:cover; 
// }

.artist-weekly-container ol li:nth-child(3) {
  background:  url('https://cdnb.artstation.com/p/assets/images/images/016/219/147/large/prarthin-bhatt-monkey-majik-by-prarthin-dcb83hw.jpg?1551355762')  100% no-repeat; 
  background-size: cover; 
}

.artist-weekly-container ol li:nth-child(2) {
  background: url('https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/493506/fe1edf2be71304d53a66b525aaf233ed_f2e8d8027249512736d681c628a157d9.jpg')  100%  no-repeat; 
  background-size: cover; 
}

.artist-weekly-container ol li:nth-child(1) {
  background:  url('https://drive.google.com/uc?export=view&id=1wzdav5Te2mdU-S4txsbumUkxW37opQL2') no-repeat; 
  background-size:cover; 
  
}





.artist-link {
  
  height: 139px;
  
  width: 100%;
}



.artist-weekly-flex ol li {
    background-color: gold;
    text-decoration: none;
    list-style-type: none;
    width: 372px;
    height: 178px;
    border: 1px solid black;
}


/*--------------------------------------
artist article */

.daily-bar {
  display: block;
  width: 100%;
  font-size: 0.8125rem;
  color: #909090;
  box-shadow: 0px 1px #eee;
  height: 45px;
}

.daily-wrapper {
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 45px;
  padding: 0 calc(11.1% + 1.6%);
  //box-sizing: border-box;
  align-items: center;
  color: #909090;
}

.daily-button {
  padding-left: 200px;
  padding-right: 30px;
  height: 16px;
  width: 15px;
}

.flex-links {
  display: flex;
  justify-content: center;
   position: absolute;
  left: 50%;
  right: 50%;
  width: 0;
  height: 16px;
}

.flex-link-1 span {
  flex-shrink: 0;
  width: 38px;
  height: 16px;
}

.flex-link-1 span a {
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  color: inherit;
}

.artist-article-heading {
  // background-color: rgba(119, 116, 116, 0.445);
  width: 100%;
  height: 200px;
  position: relative;
  margin-top: 30px;
}

.artist-article-heading h5 {
  
  width: max-content;
  display: table;
  margin-right: auto;
  margin-left: auto;
  
}

.artist-article-heading h5:nth-child(1) {
  color: #909090;
  font-weight: bold;
  font-family: "Agipo", serif;
  font-size: 16px;
  letter-spacing: 0.5px;  
  margin-top: 10px;  

}

.artist-article-heading h5:nth-child(1):hover {
  text-decoration: underline;
}

.artist-article-heading h5:nth-child(2) {
  font-size: 3.125rem;
  font-weight: bold;
  font-family: "Agipo", serif;
  letter-spacing: -1px;  
  margin-top: 20px;
}

.artist-article-heading h5:nth-child(3) {
  margin-top: 20px;

}

.artist-article-heading h5:nth-child(3) span {
  font-family: "Agipo", serif;
  color: #1da0c3;
  font-weight: 100;

}

.artist-article-heading h5:nth-child(3) span:hover {
  text-decoration: underline;
}


.artist-article-img {
  // max-width: 100%;
  // // padding-left: 150px;
  position: relative;
  width: 100%;
  height: auto;
  top: 0px;
  
}

.artist-article {
  // padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  height: auto;
  width: 100%;
  position: relative;
   bottom: 61px;
  
 
}

.pause-circle-icon {
  width: 7px;
  height: 20px;
  border-right: 7px solid #333;
  border-left: 7px solid #333;
  position: absolute;
  z-index: 1;

    
    top: 20px;
    left: 21.5px;

}

.play-circle {
  background-color: ghostwhite;
  border-radius: 100%;
  border: 1px solid black;
  height: 63px;
  width: 63px;
  z-index: 1;
  position: relative;

    top: 30px;

  // left: 680px;
  // top: 258px;
  // position: absolute;
  display: table;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.play-circle:hover {
  transform: scale(1.3);
}

.play-circle-icon {
   width: 0;
   height: 0;
   border-top: 10.5px solid transparent;
   border-left: 18.5px solid #333;
   border-bottom: 10.5px solid transparent;
   position: absolute;
   z-index: 1;

    
    top: 20px;
    left: 24px;


 
  
}

/*--------------------------------------
album index*/

.album-nav {

}

// .artist-outer {
 
//   height: 200px;
//   display: flex;
//   justify-content: space-evenly;
//   background-color: gold;
// }

a {
  cursor: pointer;
}


.selling-now {
 position: relative;
 left: 19px;
  // background-color: green;
  color: #408ea3;
  // text-transform: uppercase;
  
  margin-top: 0px;
  margin-bottom: 10px;
  height: 20px;
  // text-align: center;
  width: 1090px;
  
  display: table;
  margin-right: auto;
  margin-left: auto;
  
  color: #408ea3;
  text-transform: uppercase;
  font-weight: 50;
  font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  
//  margin-left: 204.5px;

    // margin-right: 204.5px;


  
    

}

.flex-grid {
  display: flex;
  justify-content: center;
}

.artist-outer-artist {
  
  height: 200px;
  display: flex;
  justify-content: space-evenly;
}

.how-many-selling {
  // background-color: ghostwhite;
  width: 100%;
  height: 103px;
  font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;

}

h4 {
  font-weight: 400;
  font-size: 18px;
}

.how-many-title-flex {
  display: flex;
  justify-content: center;
}

.how-many-title {
  width: 862px;
  height: 92px;
  display: flex;
  margin-top: 38px;
  justify-content: center;
}

.album-flex {
  width: 100%;
  height: 306px;
  // background-color: gold;
  display: grid;
 
  
  grid-template-columns: repeat(1, 1fr);
  
  
}

.album-row {
  background-color: gray;
  width: 1186px;
  height: 306px;
  
}

.album-list-flex {
  // height: 230px;
  //  grid-gap: 3px;
  // margin-left: auto;
  // margin-right: auto;
  //  width: 70%;
  // flex-direction: column;
  // position: relative;
  // left: 133px;
  // overflow: hidden;
  // background-color: #6E943B;

  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;

    // width: 1105px;
    // height: 275px;

  white-space: nowrap;
  overflow: hidden;
  // font-size: 0;
  position: relative;
  // display: table;
  // margin-left: auto;
  // margin-right: auto;
  // border: 1px solid black;
  // box-sizing: border-box;
  // left: 193px;
  // top: 20px;
  // display: inline-block;
  margin: auto;
  right: 38px;
  left: -40px;
  width: 1000px;
  height: 228px;
  top: 22px;


}


.album-li {
transition: all 0.6s ease;
}


.album-list-flex li {
  // width: 150px;
  list-style: none;
  // position: relative;
  width: 126px;
  height: 126px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  


  

}



.albums-display {
  
  height: 800px;
  width: 100%;

    height: 317px;

  // position: relative;
  // overflow: hidden;
}


.album-stats {
  position:absolute;
  width: 126px;
  height: 98px;
  margin-top: 126px;

}


.album-stats > * {
  padding-left: 10px;
}


.album-stats:hover {
  transition: 
    background-color ease-out 0.3s,
    margin ease-out 0.2s,
    padding ease-out 0.2s;
    background-color: #71727210;
  
}

.album-stats h5 {
  padding-top: 20px;
  font-size: 11px;
}

.album-stats span {
  color: rgba(0, 0, 0, 0.836);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 100;
  // font-size: 12px;
  font: 10px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  
  padding-top: 3.5px;
}

.album-stats span:last-child:not(h5 span) {
  color: #999
}


.album-header {
  display: table;
  margin-left: auto;
  margin-right: auto;
  background-color: burlywood;
  list-style: none;
  width: 1200px;
  height: 218px;
  position: relative;
}

.album-header-img{
 height: 180px;
 width: 975;
//  background-color: green;

}

.album-header-nav {
  // height: 38px;
  // width: 975;
  // background-color: blue;
  font: 13px/1.231 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 92.30769231%;
  
  // margin: auto;
}

.album-header-nav ol {
  margin-left: 20px
}

.album-header-nav ol li:nth-child(1) {
  height: 38px;
  width: 70.38px;
  background-color: #222;
  display: inline-block;
  // list-style: none;
  // text-align: left;
}


.album-header-nav ol li:nth-child(2){
  display: inline-block;
  height: 38px;
  width: 104.38px;
 
  background-color: #222;
  margin-left: 20px;
  position: relative;
}


.album-header-nav ol li:nth-child(1) a {
  top: 7px;
  left: 13px;
  position: relative;
   text-decoration: none;
   color: #FFFFFF;
}

.album-header-nav ol li:nth-child(2) p {
   position: relative;
   top: 7px;
   left: 13px;
   color: #FFFFFF;
}


.album-content {
  width: 975px;
  height: 1000px;
  // background-color: blueviolet;
  display: flex;
  justify-content: center;
}

.album-content-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 900px;
  height: 900px;
  background-color: #999;
  margin-top: 30px;
   grid-gap: 3px;
  justify-items: center;
  // position: relative;
}

.album-content-grid li {
  width: 232px;
  height: 232px;
  background-color: green;

}

.album-profile-box {
  position: absolute;
  height: 341.500px;
  width: 120px;
  background-color: greenyellow;
  left: 975px;
  bottom: 630px;

}

.artist-profile-index-container {
  width: 100%;
  height: 641px;
  margin-top: 100px;
  // background-color: black;
}

.artist-profile-index-title {
  width: 1090px;
  height: 34px;
  // background-color: grey;
  display: table;
  margin-left: auto;
  margin-right: auto;
  color: #408ea3;
  text-transform: uppercase;
  font-weight: 50;
  font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.artist-profile-index-flex {
 height: 576px;
 width: 1090px;
//  background-color: blueviolet;
 display: table;
 margin-left: auto;
 margin-right: auto;
}


.artist-profile-index-grid {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 list-style: none;
}


.artist-profile-index-grid li {
   height: 154px;
   width: 205px;
   background-color: green;
   position: relative;
}

.artist-stats {
  position: absolute;
  width: 205px;
  height: 400px;
  background-color: rgb(231, 231, 231);
  top: 154px;
  height: 107px;

} 

.player-controls {

}


.play-container {
  width: 56px;
 height: 52px;
 border-top: 1px solid black;
 border-right: 1px solid black;
 border-left: 1px solid black;
 border-bottom: 1px solid black;
 display: flex;
 justify-content: center;
 cursor: pointer;
}


.play {
 background: url('https://static.thenounproject.com/png/3945527-200.png') 100% no-repeat;
 background-size:contain; 
 width: 30px;
 height: 30px;
 margin-top: 10px;
 display: inline-block;
 position: absolute;
 left: 14px;

}

.pause-button {
 background: url('https://static.thenounproject.com/png/1948219-200.png') 100% no-repeat;
 background-size:contain; 
 width: 30px;
 height: 30px;
 margin-top: 10px;
 display: inline-block;
 position: absolute;
 left: 14px;
}


.progress {
  background: #fff;
  cursor: ew-resize;
  display: flex;
  flex: 10;
  flex-basis: 100%;
  transition: height 0.3s;
  width: 248px;
  height: 7px;
  border: 1px solid #d9d9d9;
  border-color: rgba(0,0,0,.15);
  border-radius: 1px;
  position: absolute;
  cursor: auto;
  left: 71px;
  bottom: 16px;
}

.progress__filled {
  background: #fc8da8;
  flex: 0;
  // flex-basis: 0%;
  width: 50%;
  
}
    
.player {
  margin-left: 20px ;
  width: 500px;
  height: 100px;
  position: relative;
  margin-right: 900px;
  
}

.thumb {
  height:11px;
  width: 22px;
  cursor: pointer;
  background-color: #333;
  border: 1px solid #bebebe;
  border-color: rgba(0,0,0,.25);
  position: relative;
  top: -2.9px;
  left: -2px;
  overflow: hidden;
}

.thumb:active{
  height:11px;
  width: 22px;
  pointer-events: none; 
  background-color: #333;
  border: 1px solid #bebebe;
  border-color: rgba(0,0,0,.25);
  position: relative;
  top: -2.9px;
  left: -2px;
}



.forward {
  height: 18px;
  width: 36px;
  // margin-left: 20px;
  position: absolute;
  background: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/microsoft/54/black-right-pointing-double-triangle-with-vertical-bar_23ed.png') 100% no-repeat;
  background-size: contain;
  top: 37px;
  bottom: 13px;
  left: 350px;
  right: -341px;
  cursor: pointer;
}

.backward {
  position: absolute; 
  cursor: pointer;
  height: 18px;
  width: 36px;
  background: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/microsoft/54/black-right-pointing-double-triangle-with-vertical-bar_23ed.png') 100% no-repeat;
  background-size: contain;
  left: 333px;
  bottom: 13px;
  right: -294px;
  top: 37px;
}



.rotate-right {
  transform: rotate(180deg);
}

// .rotate-right-opacity {
//   color: rgba(0, 0, 0, 0.171);
// }

// .backward p:nth-child(3) {
//   display: inline-block;
//   font-size: 12px;
//   position: relative;
//   top: 5px;
 

 
// }

// .backward p:nth-child(2) {
//   display: inline-block;
//   font-size: 12px;
//   position: relative;

//   top: 5px;
//   left: 5px;
//   right: -5px;

// }

// .forward p:nth-child(3) {
//   display: inline-block;
//   font-size: 12px;
//   position: relative;
// }

// .forward p:nth-child(2) {
//   display: inline-block;
//   font-size: 12px;
//   position: relative;
//   left: 5px;
//   right: -5px;
// }

// .forward p:nth-child(1) {
//   display: inline-block;
//   position: relative;
//   left: 11px;
//   top: 6.5910px;
  
 
// }

// .backward p:nth-child(1) {
//   display: inline-block;
//   position: relative;
//   top: 12px;
//   left: 11px;
//   right: -11px
// }

.song-stats {
  width: max-content;
  height: 18px;
  position: absolute;
  top: 41px;
  bottom: 41px;
  left: 71px;
  right: -390px;

}

.song-stats::after {
  
}


.song-stats:hover {
  border-bottom: 1px solid black;
}


.song-stats p {
  display: inline-block;
}

.player-controls {
  position: absolute;
  top: 32px;
}

.songs {
  position: absolute;
  background-color: #999;
  height: 500px;
  width:  500px;
  top: 200px;
}

.genre-color-changer {
  font: 14px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white;
}

.genre-grid {
  width: 100%;
  height: 40px;
  // background-color: #408ea3;
  background-color: rgb(66, 160, 189);
  display: flex;
  justify-content: center;
}

.selling-grid {
  width: 100%;
  height: 40px;
  background-color: rgb(67, 144, 168);
  display: flex;
  justify-content: center;
 
}

.disc-grid {
  width: 100%;
  height: 40px;
  
  background-color: rgb(65, 114, 129);
  display: flex;
  justify-content: center;
}

.selling-grid ol {
  display: flex;
  align-items:flex-start;
  list-style: none;
  width: 55%;
  height: 40px;
 
 
}

.selling-grid ol li {
  width: max-content;
  padding-right: 10px;
  margin-left: 10px;
  border-radius: 14px;
  background-color: rgba(0,0,0,0.8);
  position: relative;
  cursor: pointer;
  top: 9px;
}

.selling-grid ol li:hover {
  background-color: rgba(0, 0, 0, 0.507);
}

.selling-grid ol li p{
 position: relative;
 left: 3.8px;
}

.disc-grid ol {
  display: flex;
  align-items:flex-start;
  list-style: none;
  width: 55%;
  height: 40px;
 
}

.disc-grid ol li {
  width: max-content;
  padding-right: 10px;
  margin-left: 10px;
  border-radius: 14px;
  background-color: rgba(0,0,0,0.8);
  position: relative;
  cursor: pointer;
  top: 9px;
}

.disc-grid ol li:hover {
  background-color: rgba(0, 0, 0, 0.507);
}

.disc-grid ol li p{
 position: relative;
 left: 3.8px;
}

.genre-grid ol {
  display: flex;
  align-items:flex-start;
  list-style: none;
  width: 55%;
  height: 40px;
 
 
}

.genre-grid ol li {
  width: max-content;
  padding-right: 10px;
  margin-left: 10px;
  border-radius: 14px;
  background-color: rgba(0,0,0,0.8);
  position: relative;
  cursor: pointer;
  top: 9px;
}

.genre-grid ol li:hover {
  background-color: rgba(0, 0, 0, 0.507);
}

.genre-grid ol li p{
 position: relative;
 left: 3.8px;
}

.discover {
  width: 55.2%;
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 12px;

}

.discover h2 {
  color: #000;
  font-weight: 700;
  font: 18px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
}


.genre-container {
  padding-bottom: 200px ;
}


.weekly-player {
  background-color: rgb(236, 76, 103);
  height: 105.5px;
  width: 135px;
  list-style: none;
  position: absolute;
  text-align: center; 
  background-size: contain;
  cursor: pointer;

}


.weekly-player-text {
  height: 105.5px;
  width: 500px;
  background-color: #eee;
  position: absolute;
  left: 131px;

}

.weekly-player-container {
  z-index: 1;
  position: relative;
  // height: 200px;
  // width: 500px;
  top: 420px;
  left: 200px;

}


.pause-icon {
  width: 8px;
  height: 32px;
  border-right: 8px solid #eee;
  border-left: 8px solid #eee;
  position: absolute;
  // top: 33px;
  // left: 54px;

    top: 31px;
    left: 55px;
    right: 0px;
    bottom: 0px;


}



.play-icon {
   width: 0;
   height: 0;
   border-top: 16px solid transparent;
   border-left: 24px solid #eee;
   border-bottom: 16px solid transparent;
   position: absolute;
   z-index: 1;
  
   
    top: 31px;
    left: 55px;
    right: 0px;
    bottom: 0px;


}

.weekly-player-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.weekly-player-text h2 {
  font-size: 25px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

}

.weekly-player-text p:not(.weekly-player-text p:nth-of-type(2)) {
  // overflow: auto;
  word-wrap: break-word;
  padding-left: 10px;
  padding-bottom: 3px;
  font-weight: 200;
  font-size: 14px;
}

.weekly-player-text p:nth-of-type(2)  {
  color:  #999;
  padding-left: 10px;  
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}


.artist-weekly-overlay {
  width: 1066px;
  position: absolute;
  z-index: 1;
  height: 540px;
  left: 106px;
  width: 961px;
  top: 0px;
}

.artist-weekly-overlay:hover {
  background: rgba(255, 255, 255, 0.12);
  transition: opacity 0.1s ease-out;
}

.artist-weekly-outer ol {
  position: relative;
}

.artist-weekly-outer ol li:nth-child(1) .artist-item-overlay {
  height: 179px;
  z-index: 1;
  position: absolute;
  width: 372px;
  top:0
  
}

.artist-weekly-outer ol li:nth-child(2) .artist-item-overlay {
  height: 179px;
  z-index: 1;
  position: absolute;
  width: 372px;
  top: 181px;
}

.artist-weekly-outer ol li:nth-child(3) .artist-item-overlay {
  height: 179px;
  z-index: 1;
  position: absolute;
  width: 372px;
  top: 360px;
}


.artist-weekly-outer ol li .artist-item-overlay:hover {
  background: rgba(255, 255, 255, 0.12);
  transition: opacity 0.1s ease-out;
}

.artist-item-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  margin-top: 110px;
  margin-left: 11px; 
 text-shadow: -1px 0 1px #333,
               1px 0 1px #333,
               1px 1px 1px #333,
               -1px -1px 1px #333,
               0 1px 1px #333,
               0 -1px 1px #333;
             
}




.artist-item-text h2 {
  font-size: 18px;
  font-weight: 400;
   
}

.artist-item-text p {
  overflow: auto;
  word-wrap: break-word;
  
  font-weight: 400;
  font-size: 12px;
   
}

// .artist-item-text p:nth-of-type(2)  {
//   color:  #999;
//   padding-left: 10px;  
//   font-size: 11px;
// }



